body {
    background-color: #ddd;
}

.choices {
    margin: 20px;
}
.choices li {
    margin: 4px;
    padding: 4px;
    border: 1px solid #333;
    cursor: pointer;
}
.choices li:hover {
    background-color: #6495ED;
}
